
body{background-color: #1f2937;
font-family:robato}

header{
display:flex;
flex-flow:row wrap;
justify-content: space-between;
align-items: center;
background: #1f2937;
margin: 30px;
padding: 20px;
border:#1f2937;
border-style: solid;
}
#wrestler{
    display: flex;
    align-self: flex-start;
    width: 200px;
    height:auto;
}
a{
    text-decoration: none;
    color: #f9faf8;
    padding:10px;
}

ul{
    list-style-type:none;
    display:flex;
    font-size: 24px;
   }
.links{
    display:flex;
    justify-content:flex-start;
    align-self:flex-end;
}

.hero{
display:flex;
flex-flow:column wrap;
align-items:center;
background-color: #1f2937;
height:200px;
border: 30px #1f2937;
}
#luchador_signup{
    font-size:16px;
color: #f9faf8;  
}

#smashin_larry{
    width:300px;
} 

button{
    background-color: blue;
    color: #f9faf8;
    box-shadow: inset;
    border-radius: 25px;
}

h1{
    color: #f9faf8;    
}
.Luchador_requirements{
    background-color: #f9faf8;
    height:300px;

}
h2{
    text-align: center;
}
#monte{
    display:flex;
    flex-direction:row;
    justify-content:space-around;

}
.requirements{

}
.quote_block{
    background-color: #e5e7eb;
height:200px;
}
#quote{
    text-align: center;
    display:flex;
    font-size: 36px;
    font-style: italic;
}
.signup_bottom{
    background:white;
}
.final_signup{
    background:cornflowerblue;
}